@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../styles/_variables.scss";

html,
body {
  height: 100%;
  margin: 0;
}

.bg-even-lighter-dark {
  background-color: #343a40;
  @extend .text-white;
}

.main {
  @extend .bg-even-lighter-dark;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-navbar {
  flex: 0 1 auto;
}

.main {
}

app-footer {
  flex: 0 1 auto;
}
